.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
}

.logoSCC {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: auto;
}

.figuresTopLeft {
  position: absolute;
  display: block;
  width: 50vw;
  height: 50vh;
}

.figuresTopLeft > .rect {
  rotate: 50deg;
  position: relative;
  left: 8%;
  top: 20%;
}

.figuresTopLeft > .cross {
  rotate: 20deg;
  position: relative;
  left: 50%;
  top: 10%;
}

.figuresTopLeft > .triangle {
  rotate: 20deg;
  position: relative;
  left: 20%;
  top: 60%;
  height: 30px;
  width: 30px;
}
.figuresTopLeft > .stripedTriangle {
  position: absolute;
  top: 40%;
  left: 5%;
  height: 8vw;
  width: 8vw;
  rotate: 10deg;
}

.figuresTopLeft > .stripedCircle {
  position: absolute;
  top: 10%;
  left: 28%;
  height: 8vw;
  width: 8vw;
}

.figuresBottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 50vw;
  height: 50vh;
}

.figuresBottomRight > .circle {
  position: absolute;
  right: 45%;
  bottom: 60%;
}

.figuresBottomRight > .cross {
  rotate: 50deg;
  position: absolute;
  right: 35%;
  bottom: 15%;
}

.figuresBottomRight > .triangle {
  rotate: 70deg;
  position: absolute;
  right: 10%;
  bottom: 65%;
}

.figuresBottomRight > .stripedRectangle {
  position: absolute;
  right: 20%;
  bottom: 40%;
  height: 8vw;
  width: 8vw;
}

.figuresBottomRight > .stripedTriangle {
  position: absolute;
  right: 50%;
  bottom: 17%;
  height: 8vw;
  width: 8vw;
  rotate: 20deg;
}

.canvasLeftBottom {
  position: absolute;
  left: -45%;
  bottom: -90%;
  rotate: 35deg;
}

.canvasRightTop {
  position: absolute;
  right: -50%;
  top: -80%;
  rotate: -145deg;
}